body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  position: sticky;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  font-family: 'Fredoka One', cursive;
}

footer a {
  text-decoration: none;
  color: black;
}

footer span {
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}

footer img {
  height: 20px;
  width: 20px;
}