*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Work Sans', sans-serif;
  --fw: 700;
  --ts: 18px;
  --fs-h1: 1.75rem;
  --fs-h2: 1.30rem;
  --fs-h3: 1.15rem;
  --fs-h4: 0.90rem;
  --fs-p: 20px;
  --fs-navbar: 15px;
  --fs-small: 10px;
  --fs-body: 1rem;
  --h: 568px;
  --h-about-page: 568px;
  --h-education-page: 350px;
  --h-skill-page: 568px;
  --h-contact-page: 350px;
  --pt-title: 30px;
  --pt-text-img: 10px;
  --pb-page: 50px;
  --mb-page: 30px;
}

/* ! CONFIG-HEADER---------------------- */
  .App {
    height: 100vh;
  }

  body {
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-h1)
  }

  .my-header {
    display: flex;
    flex-grow: 1;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  header > nav {
    flex-grow: 1;
    background-color: none;
    backdrop-filter: blur(5px);
  }

  .active {
    color: #7e7e7e !important;
  }

  #basic-navbar-nav > div {
    flex-grow: 1;
  }

  div .navbar-nav {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .scrollspy-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0px !important;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 5px;
  }

  .scrollspy-menu > li {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: var(--fs-navbar);
    /* font-weight: bolder; */
    margin-left: 10px;
    list-style: none;
    white-space: nowrap;
  }

  .scrollspy-menu > li > a:hover {
    color: rgb(0, 128, 255) !important;
    text-decoration: none;
  }

  .scrollspy-menu > li > a::before {
    content: '';
    display: block;
    height: 5px;
    width: 85%;
    background-color: rgb(0, 128, 255, 0.5);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 190ms;
  }

  .scrollspy-menu > li > a:hover::before {
    width: 85%;
  }

  .menu-now > a {
    color: rgb(0, 128, 255) !important;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    float: left;
    display: -webkit-flex;
    height: 50px;
    width: 200px;
    margin: 10px 0;
    border: 1px dashed black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Damion', sans-serif;
  }

/* ! INTRO------------------------------ */
  .section-intro {
    width: 100vw;
    height: 100vh !important;
    background-image: url(../images/assets/background_001.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: var(--pb-page);
  }
  
  .section-intro > div {
    margin: auto;
  }

  .section-intro > div > p:first-child {
    font-size: var(--fs-h1);
    font-weight: var(--fw);
    margin: 0 0 10px 0;
  }

  .section-intro > div > p:nth-child(2) {
    font-size: var(--fs-h2);
    font-weight: var(--fw);
    color: rgb(0, 159, 255);
    margin: 0;
  }

  .section-intro > div > p:last-child {
    font-size: var(--fs-h4);
    font-style: italic;
    color: white;
    padding: 0 10px;
  }

  .section-intro > div > p:last-child > i {
    font-size: 12px !important;
  }

/* ! PROFILE---------------------------- */
  .section-about-me {
    min-height: var(--h-about-page);
    padding-bottom: var(--pb-page);
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: var(--pt-title);
  }

  .profile > p:first-child {
    font-size: var(--fs-h1);
  }

  .profile-msg {
    padding: 30px 30px 0 30px;
    font-size: var(--fs-p);
  }

  #profile-pic {
    width: 150px;
    border-radius: 50%;
    padding-top: var(--pt-title);
  }

/* ! SKILLS----------------------------- */
  .section-skills {
    min-height: var(--h-skill-page);
    text-align: center;
  }

  .skills > p:first-child {
    font-size: var(--fs-h1);
    padding-top: var(--pt-title);
    margin-bottom: 0;
  }

  .languages {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    padding-top: var(--pt-text-img);
    margin-bottom: var(--mb-page);
    min-height: 500px;
  }

  .icons-skills {
    width: 110px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .language-icon {
    font-size: 2.5rem
  }

  div .icons-skills > p {
    font-size: var(--fs-p);
    margin: auto;
  }

/* ! PROJECTS--------------------------- */
  .section-projects {
    min-height: var(--h);
    text-align: center;
    padding-bottom: var(--pb-page);
    background-color: lightgrey;
  }

  .my-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects > p:first-child {
    font-size: var(--fs-h1);
    padding-top: var(--pt-title);
  }

  .project > p:first-child {
    text-align: left;
    font-size: var(--fs-h3);
    font-weight: var(--fw);
  }

  .project > p:nth-child(3) {
    padding-top: 15px;
    font-size: var(--fs-p);
  }

  .project-img {
    width: 80%;
    transition: transform .25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .project-img:hover {
    transform: scale(1.05);
  }

  .project-little-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-little-icons > div {
    margin-left: 5px;
  }

  .project-little-icons > div > i,
  .project-little-icons > div > img {
    font-size: 25px;
    height: 25px;
  }

  .repo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .repo > i {
    font-size: 25px;
  }

  .link-code {
    font-size: var(--fs-small);
    text-decoration: none;
    color: black;
  }

  .link-code:hover {
    text-decoration: none;
    color: rgb(0, 128, 255);
  }

/* ! EXPERIENCE------------------------- */
  .section-experience {
    min-height: var(--h);
    text-align: center;
  }

  .experiences > p:first-child {
    font-size: var(--fs-h1);
    padding-top: var(--pt-title);
  }

  .company {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

  .company > p:first-child {
    font-size: var(--fs-h2);
    font-weight: var(--fw);
    padding-top: var(--pt-text-img)
  }

  .company > p:nth-child(2) {
    font-size: var(--fs-h3);
    font-weight: var(--fw);
  }
  
  .company > p:nth-child(3) {
    font-size: var(--fs-small);
  }
  .company > p:nth-child(4) {
    font-size: var(--fs-small);
    font-weight: var(--fw);
    text-align: left;
    padding-left: 20px;
  }

  .company > ul > li {
    font-size: var(--fs-small);
    text-align: left;
    padding-left: 20px;
    list-style-type: circle;
  }

  .link-icon {
    font-size: 17px;
  }

/* ! EDUCATION-------------------------- */
  .section-education {
    min-height: var(--h-education-page);
    text-align: center;
    padding-bottom: var(--pb-page);
  }

  .education {
    /* border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px; */
  }

  .education > p:first-child {
    font-size: var(--fs-h1);
    padding-top: var(--pt-title);
    margin-bottom: 0;
  }

  .institution > a > img {
    width: 55px;
    padding-top: var(--pt-title);
  }

  .institution > p:nth-child(2) {
    font-size: var(--fs-h4);
    font-weight: var(--fw);
    padding-top: var(--pt-text-img);
    margin: 0;
  }

  .institution > p:nth-child(3) {
    font-size: var(--fs-h);
    font-size: var(--fs-h4);
    margin: 0;
  }

  .institution > p:nth-child(4) {
    font-size: var(--fs-h);
    font-size: var(--fs-h4);
    margin: 0;
  }

/* ! CONTACT---------------------------- */
  .section-contact-me {
    min-height: var(--h-contact-page);
    text-align: center;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .contact > p:first-child {
    font-size: var(--fs-h1);
    padding-top: var(--pt-title);
    margin-bottom: 0;
  }

  .my-form div {
    max-width: 500px;
    margin: auto;
    padding-top: var(--pt-title)
  }
  .my-form input {
    margin-bottom: 10px;
    font-size: var(--fs-h4);
  }

  .my-form input, .my-form textarea {
    width: -webkit-fill-available;
    border-radius: 5px;
    font-size: var(--fs-h3);
    border: none;
  }
  
  .my-form > div:last-child {
    text-align: right;
  }

  input.button-submit {
    width: 100px;
  }
  
  .resume {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-h4);
  }

  .resume > a {
    text-decoration: none !important;
    color: rgb(0, 128, 255) !important;
  }

  .resume > a:hover {
    color: rgb(0, 77, 153) !important;
  }

  div.resume > p {
    margin: 0;
    font-weight: var(--fw);
  }

  .external-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .external-links > p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-h4);
    color: grey;
  }

  .social-media {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }

  .social-media > a {
    text-decoration: none;
    color: grey;
  }

  .social-media > a:hover {
    color: black;
  }

  .social-media > svg {
    justify-content: space-between;
  }

@media(min-width:700px) {
  .scrollspy-menu {
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border-radius: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .scrollspy-menu > li {
    margin-left: 10px;
  }

  .scrollspy-menu > li:first-child {
    margin-left: 0;
  }

}

@media(min-width:600px) {
  :root {
    --ts: 18px;
    --fs-h1: 2.50rem;
    --fs-h2: 1.70rem;
    --fs-h3: 1.50rem;
    --fs-h4: 1.20rem;
    --fs-p: 18px;
    --fs-navbar: 20px;
    --fs-small: 10px;
    --fs-body: 1rem;
    --h: 100vh;
    --h-education-page: 350px;
    --h-skill-page: 30px;
    --h-contact-page: 350px;
    --pt-title: 70px;
    --pt-text-img: 25px;
    --pb-page: 70px;
  }

/* + PROFILE---------------------------- */
  .section-about-me {
    min-height: var(--h-about-page);
  }

  .profile-msg {
    padding: 50px 50px 0 50px;
    font-size: var(--fs-p);
  }

  #profile-pic {
    width: 250px;
    border-radius: 50%;
  }

/* + SKILLS----------------------------- */
  .section-skills {
    min-height: var(--h-skill-page);
  }

  .languages {
    padding: var(--pt-text-img);
    margin-bottom: var(--mb-page);
  }

  .icons-skills {
    width: 100px;
  }
}

@media(min-width:800px) {
  :root {
    --ts: 18px;
    --fs-h1: 2.50rem;
    --fs-h2: 1.70rem;
    --fs-h3: 1.50rem;
    --fs-h4: 1.20rem;
    --fs-p: 19px;
    --fs-navbar: 20px;
    --fs-small: 10px;
    --fs-body: 1rem;
    --h: 100vh;
    --h-education-page: 350px;
    --h-skill-page: 500px;
    --h-contact-page: 350px;
    --pt-title: 70px;
    --pt-text-img: 25px;
    --pb-page: 70px;
    --mb-page: 50px;
  }

/* - INTRO------------------------------ */
  .section-intro {
    /* height: 100vh !important; */
  }

  .scrollspy-menu > li > a {
    font-size: var(--fs-navbar);
  }

/* - PROFILE---------------------------- */
  .section-about-me {
    min-height: var(--h-about-page);
  }

  .profile-msg {
    padding: 50px 150px 0 150px;
    font-size: var(--fs-p);
  }

  #profile-pic {
    width: 250px;
    border-radius: 50%;
  }
  
/* - SKILLS----------------------------- */
  .section-skills {
    min-height: var(--h);
  }

  .languages {
    padding: 40px;
    margin-bottom: var(--mb-page);
  }

  .icons-skills {
    width: 180px;
    padding: 20px 0;
  }

  .language-icon {
    font-size: 2.5rem
  }

/* - PROJECTS--------------------------- */
  .section-projects {
    min-height: var(--h);
  }



  .project {
    width: 100%;
    padding: 20px;
    /* border: 1px solid grey;
    border-radius: 15px;
    margin: 5px; */
  }

  .project > p:first-child {
    font-size: var(--fs-h3);
    text-align: center;
  }

  .project > p:nth-child(3) {
    padding-top: 20px;
  }

  .project-img {
    width: 80%;
  }

  .project-little-icons > div {
    margin-left: 15px;
  }

  .project-little-icons > div > i, .project-little-icons > div > img {
    font-size: 30px;
    height: 30px;
  }

  .link-code {
    font-size: var(--fs-h4);
  }

  .link-code > i {
    font-size: 20px;
  }

/* - EDUCATION-------------------------- */
  .section-skills {
    min-height: var(--h-skill-page);
  }

  .institution > a > img {
    width: 80px;
  }
/* - CONTACT---------------------------- */
  .resume {
    font-size: var(--fs-h4);
  }
}

@media(min-width: 900px) {
  .my-projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: 45%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 5px;
  }
}